<h1>Shorter version of your URL</h1>

<h3>Long URL</h3>
	<p><a href="<%= row.url %>"><%= row.url %></a></p>

<h3>Shorten URL</h3>	
	<p><a href="http://localhost:3000/<%= row.hash %>">http://localhost:3000/<%= row.hash %></a></p>

<p>Count: <%= row.count %></p>